stages:
  - deploy

pages:
  stage: deploy
  image: alpine:3.20
  script:
    - mkdir -p public/assets
    - cp index.html main.js phaser.js public/
    - cp -r assets/* public/assets/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
